<p>Employee-details!</p>

    
<div class="info">
    
    
    <div>
        <label>ID:<b>{{employee.id}}</b></label>
    </div>

<div>
    <label>FirstName:<b>{{employee.firstName}}</b></label>
</div>

<div>
    <label>LastName:<b>{{employee.lastName}}</b></label>
</div>

<div>
    <label>Salary:<b>{{employee.salary}}</b></label>
</div>

<div>
    <label>Age:<b>{{employee.age}}</b></label>
</div>

<div>
    <label>City:<b>{{employee.city}}</b></label>
</div>

<div>
    <label>Mobile:<b>{{employee.mobile}}</b></label>
</div>
</div>