<h2>List Of Employees</h2>

<table class="table table-striped">

<thead>

    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>City</th>
        <th>Mobile</th>
        <th>Action</th>
    </tr>
</thead>

<tbody>

    <tr *ngFor=" let employee of employees">

        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.mobile}}</td>

        <td>
            <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
            <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin: 10px;">Delete</button>
            <button (click)="viewEmployee(employee.id)" class="btn btn-info">ViewDetails</button>
        </td>
    </tr>
</tbody>

</table>